@charset "UTF-8";
@font-face {
  font-family: Gruppo;
  font-display: swap;
  src: url("../fonts/Gruppo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: JosefinSans;
  font-display: swap;
  src: url("../fonts/JosefinSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/Helvetica-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: JosefinSans;
  font-display: swap;
  src: url("../fonts/JosefinSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: JosefinSans;
  font-display: swap;
  src: url("../fonts/JosefinSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: JosefinSans;
  font-display: swap;
  src: url("../fonts/JosefinSans-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Helvetica;
  font-display: swap;
  src: url("../fonts/Helvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: NEOTERIC;
  font-display: swap;
  src: url("../fonts/NEOTERIC-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: JosefinSans;
  font-display: swap;
  src: url("../fonts/JosefinSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Helvetica";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Helvetica";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.wrapper-right .header__row {
  justify-content: flex-end;
}

.wrapper-bottom .header {
  top: auto;
  bottom: 0;
  padding: 0 0 34.55px 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

@keyframes zoom {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes opacity-img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lineY {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes lineX {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 34.55px 0 0 0;
  z-index: 100;
}
@media (max-width: 1600.98px) {
  .header {
    padding: 27.19px 0 0 0;
  }
}
@media (max-width: 1440.98px) {
  .header {
    padding: 19.83px 0 0 0;
  }
}
@media (max-width: 992.98px) {
  .header {
    display: none;
  }
}
.header__container {
  padding: 0 51.23px;
  margin: 0 auto;
}
@media (max-width: 1600.98px) {
  .header__container {
    padding: 0 38.74px;
  }
}
@media (max-width: 1440.98px) {
  .header__container {
    padding: 0 26.25px;
  }
}
.header__row {
  display: flex;
}
.header__logo {
  font-family: NEOTERIC;
  font-size: 75px;
  font-weight: 300;
  line-height: 120%;
  color: #7F7774;
}
@media (max-width: 1600.98px) {
  .header__logo {
    font-size: 58px;
  }
}
@media (max-width: 1440.98px) {
  .header__logo {
    font-size: 40px;
  }
}

.alphawood {
  position: relative;
  height: 100vh;
}
@media (max-width: 992.98px) {
  .alphawood {
    min-height: 815px;
  }
}
@media (max-width: 480.98px) {
  .alphawood {
    min-height: 615px;
    height: calc(100vh - 55px);
  }
}
.alphawood__image-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.alphawood__image-block.animate__animated {
  animation-duration: 2s;
  animation-delay: 0s;
}
@media (max-width: 992.98px) {
  .alphawood__image-block {
    display: none;
  }
}
.alphawood__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.alphawood__image-mob-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.alphawood__image-mob-block.animate__animated {
  animation-duration: 2s;
  animation-delay: 0s;
}
@media (max-width: 992.98px) {
  .alphawood__image-mob-block {
    display: block;
  }
}
.alphawood__image-mob {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.alphawood__content {
  position: relative;
}
.alphawood__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 115%;
  color: #323438;
}
@media (max-width: 1600.98px) {
  .alphawood__title {
    font-size: 49px;
  }
}
@media (max-width: 1440.98px) {
  .alphawood__title {
    font-size: 40px;
  }
}
@media (max-width: 1350px) {
  .alphawood__title {
    font-size: 31px;
  }
}
@media (max-width: 992.98px) {
  .alphawood__title {
    font-size: 46px;
  }
}
@media (max-width: 675.98px) {
  .alphawood__title {
    font-size: 37px;
  }
}
@media (max-width: 480.98px) {
  .alphawood__title {
    font-size: 33px;
  }
}
@media (max-width: 380px) {
  .alphawood__title {
    font-size: 30px;
  }
}
.alphawood__subtitle {
  font-size: 40px;
  font-weight: 400;
  line-height: 115%;
  color: #323438;
}
.alphawood__subtitle.animate__animated {
  animation-duration: 1.5s;
  animation-delay: 1s;
}
@media (max-width: 1600.98px) {
  .alphawood__subtitle {
    font-size: 31px;
  }
}
@media (max-width: 1440.98px) {
  .alphawood__subtitle {
    font-size: 24px;
  }
}
@media (max-width: 1350px) {
  .alphawood__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 992.98px) {
  .alphawood__subtitle {
    font-size: 25px;
  }
}
@media (max-width: 720px) {
  .alphawood__subtitle {
    font-size: 31px;
  }
}
@media (max-width: 675.98px) {
  .alphawood__subtitle {
    font-size: 25px;
  }
}
@media (max-width: 480.98px) {
  .alphawood__subtitle {
    font-size: 22px;
  }
}
@media (max-width: 380px) {
  .alphawood__subtitle {
    font-size: 20px;
  }
}
.alphawood__text {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 300;
  line-height: 115%;
  color: #323438;
}
.alphawood__text span {
  font-weight: 700;
}
@media (max-width: 1600.98px) {
  .alphawood__text {
    font-size: 21px;
  }
}
@media (max-width: 1440.98px) {
  .alphawood__text {
    font-size: 19px;
  }
}
@media (max-width: 1350px) {
  .alphawood__text {
    font-size: 13px;
  }
}
@media (max-width: 992.98px) {
  .alphawood__text {
    font-size: 18px;
  }
}
@media (max-width: 750.98px) {
  .alphawood__text {
    font-size: 19px;
  }
}
@media (max-width: 480.98px) {
  .alphawood__text {
    font-size: 17px;
  }
}
@media (max-width: 380px) {
  .alphawood__text {
    font-size: 15px;
  }
}
.alphawood__furniture {
  font-size: 45px;
  font-weight: 300;
  line-height: 115%;
  color: #323438;
}
@media (max-width: 1600.98px) {
  .alphawood__furniture {
    font-size: 30px;
  }
}
@media (max-width: 1440.98px) {
  .alphawood__furniture {
    font-size: 27px;
  }
}
@media (max-width: 1350px) {
  .alphawood__furniture {
    font-size: 24px;
  }
}
@media (max-width: 992.98px) {
  .alphawood__furniture {
    font-size: 35px;
  }
}
@media (max-width: 750px) {
  .alphawood__furniture {
    font-size: 34px;
  }
}
.alphawood__content-line-block {
  overflow: hidden;
  position: absolute;
  width: 2.5px;
}
@media (max-width: 1600.98px) {
  .alphawood__content-line-block {
    width: 1.5px;
  }
}
.alphawood__content-line {
  position: absolute;
  width: 100%;
  height: 200%;
  background: linear-gradient(to bottom, #323438 50%, transparent 100%); /* Градієнт для створення змінної ширини */
}
.alphawood__text-mob {
  font-size: 18px;
  font-weight: 300;
  line-height: 115%;
  color: #FFFFFF;
}
.alphawood__text-mob span {
  font-weight: 700;
}
@media (min-width: 992.98px) {
  .alphawood__text-mob {
    display: none;
  }
}
@media (max-width: 750px) {
  .alphawood__text-mob {
    font-size: 19px;
  }
}
@media (max-width: 480.98px) {
  .alphawood__text-mob {
    font-size: 17px;
  }
}
@media (max-width: 380px) {
  .alphawood__text-mob {
    font-size: 15px;
  }
}

.tide-keeper-1 .alphawood__image.ibg {
  background-position: right bottom;
}
@media (max-width: 992.98px) {
  .tide-keeper-1 .alphawood__image.ibg {
    background-position: center;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-1 .alphawood__image_1 {
    display: none;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-1 .alphawood__image_1 {
    display: block;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-1 .alphawood__image_1 {
    display: none;
  }
}
.tide-keeper-1 .alphawood__image_2 {
  display: none;
}
@media (max-width: 1440.98px) {
  .tide-keeper-1 .alphawood__image_2 {
    display: block;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-1 .alphawood__image_2 {
    display: none;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-1 .alphawood__image_2 {
    display: block;
  }
}
.tide-keeper-1 .alphawood__image-mob.ibg {
  background-position: center bottom;
}
.tide-keeper-1 .alphawood__content {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 5.21% 3.94% 0;
}
@media (max-width: 992.98px) {
  .tide-keeper-1 .alphawood__content {
    padding: 0 5.5vh 7.5vh 0;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-1 .alphawood__content {
    padding: 0 5.5vh 6.5vh 0;
  }
}
.tide-keeper-1 .alphawood__content-body {
  text-align: right;
}
.tide-keeper-1 .alphawood__title.animate__animated {
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
.tide-keeper-1 .alphawood__title:not(:last-child) {
  margin: 0 0 2.7px 0;
}
@media (max-width: 1600.98px) {
  .tide-keeper-1 .alphawood__title:not(:last-child) {
    margin: 0 0 0px 0;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-1 .alphawood__title {
    font-size: 46px;
  }
  .tide-keeper-1 .alphawood__title:not(:last-child) {
    margin: 0 0 21px 0;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-1 .alphawood__title {
    font-size: 33px;
  }
  .tide-keeper-1 .alphawood__title:not(:last-child) {
    margin: 0 0 0px 0;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-1 .alphawood__title {
    font-size: 29px;
  }
  .tide-keeper-1 .alphawood__title:not(:last-child) {
    margin: 0 0 5px 0;
  }
}
@media (max-width: 768.98px) {
  .tide-keeper-1 .alphawood__title {
    font-size: 25px;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-1 .alphawood__title {
    font-size: 22px;
  }
}
@media (max-width: 380px) {
  .tide-keeper-1 .alphawood__title {
    font-size: 20px;
  }
}
.tide-keeper-1 .alphawood__subtitle.animate__animated {
  animation-duration: 1.5s;
  animation-delay: 1s;
}
.tide-keeper-1 .alphawood__subtitle br {
  display: none;
}
@media (max-width: 1440.98px) {
  .tide-keeper-1 .alphawood__subtitle {
    font-size: 30px;
  }
  .tide-keeper-1 .alphawood__subtitle br {
    display: block;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-1 .alphawood__subtitle {
    font-size: 21px;
  }
  .tide-keeper-1 .alphawood__subtitle br {
    display: none;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-1 .alphawood__subtitle {
    font-size: 18.5px;
  }
}
@media (max-width: 768.98px) {
  .tide-keeper-1 .alphawood__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-1 .alphawood__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 380px) {
  .tide-keeper-1 .alphawood__subtitle {
    font-size: 14px;
  }
}

.tide-keeper-2 {
  overflow: hidden;
}
@media (max-width: 1600.98px) {
  .tide-keeper-2 {
    height: 0;
    padding: 0 0 71% 0;
    position: relative;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-2 {
    height: 100vh;
    padding: 0;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-2 {
    height: calc(100vh - 55px);
  }
}
@media (max-width: 1600.98px) {
  .tide-keeper-2 .alphawood__image_1 {
    display: none;
  }
}
.tide-keeper-2 .alphawood__image_2 {
  display: none;
}
@media (max-width: 1600.98px) {
  .tide-keeper-2 .alphawood__image_2 {
    display: block;
  }
}
@media (max-width: 380px) {
  .tide-keeper-2 .alphawood__image-mob {
    height: 105%;
  }
}
.tide-keeper-2 .alphawood__content {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 19% 0 14.48%;
}
@media (max-width: 1600.98px) {
  .tide-keeper-2 .alphawood__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 16.5% 0 12%;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-2 .alphawood__content {
    position: relative;
    padding: 0 27% 0 22.8%;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-2 .alphawood__content {
    padding: 0 15.5% 0 10%;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-2 .alphawood__content {
    justify-content: flex-end;
    padding: 0 10% 0 10%;
  }
}
.tide-keeper-2 .alphawood__content-inner {
  position: relative;
}
.tide-keeper-2 .alphawood__content-inner_1 {
  padding: 21vh 0 0 0;
}
@media (max-width: 1600.98px) {
  .tide-keeper-2 .alphawood__content-inner_1 {
    padding: 21% 0 0 0;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-2 .alphawood__content-inner_1 {
    padding: 19vh 0 0 0;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-2 .alphawood__content-inner_1 {
    padding: 20vh 0 0 0;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-2 .alphawood__content-inner_1 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 38vh 35px 0 35px;
  }
}
@media (max-width: 675.98px) {
  .tide-keeper-2 .alphawood__content-inner_1 {
    padding: 34vh 25px 0 25px;
  }
}
.tide-keeper-2 .alphawood__content-inner_2 {
  padding: 11vh 31.55px 9.5vh 0;
}
@media (max-width: 1600.98px) {
  .tide-keeper-2 .alphawood__content-inner_2 {
    padding: 11.5% 25px 9% 0;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-2 .alphawood__content-inner_2 {
    padding: 12.5% 18px 9% 0;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-2 .alphawood__content-inner_2 {
    padding: 12.5% 26.5px 9% 0;
  }
}
@media (max-width: 675.98px) and (max-width: 992.98px) {
  .tide-keeper-2 .alphawood__content-inner_2 {
    padding: 12.5% 26.5px 18% 0;
  }
}
.tide-keeper-2 .alphawood__content-line-block {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 33px);
}
@media (max-width: 1600.98px) {
  .tide-keeper-2 .alphawood__content-line-block {
    height: calc(100% - 22px);
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-2 .alphawood__content-line-block {
    height: calc(100% - 17px);
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-2 .alphawood__content-line-block {
    height: calc(100% - 12px);
    width: 1.57px;
  }
}
.tide-keeper-2 .alphawood__content-line.animate__animated {
  animation-duration: 3.7s;
  animation-delay: 0.75s;
}
.tide-keeper-2 .alphawood__text.animate__animated {
  animation-duration: 1.5s;
  animation-delay: 1s;
}
@media (max-width: 1440.98px) {
  .tide-keeper-2 .alphawood__text {
    font-size: 13.5px;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-2 .alphawood__text {
    font-size: 13px;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-2 .alphawood__text {
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .tide-keeper-2 .alphawood__text {
    font-size: 19px;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-2 .alphawood__text {
    font-size: 17px;
  }
}
@media (max-width: 380px) {
  .tide-keeper-2 .alphawood__text {
    font-size: 15px;
  }
}
.tide-keeper-2 .alphawood__text_1 {
  max-width: 522.6px;
}
@media (max-width: 1600.98px) {
  .tide-keeper-2 .alphawood__text_1 {
    max-width: 450px;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-2 .alphawood__text_1 {
    max-width: 294.4px;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-2 .alphawood__text_1 {
    max-width: 330px;
  }
}
@media (max-width: 750px) {
  .tide-keeper-2 .alphawood__text_1 {
    max-width: 416px;
  }
}
.tide-keeper-2 .alphawood__text_2 {
  max-width: 364.81px;
  text-align: right;
}
@media (max-width: 1600.98px) {
  .tide-keeper-2 .alphawood__text_2 {
    max-width: 345px;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-2 .alphawood__text_2 {
    max-width: 205.5px;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-2 .alphawood__text_2 {
    max-width: 200px;
    font-size: 15px;
  }
}
.tide-keeper-2 .alphawood__furniture {
  position: absolute;
  bottom: 0;
  right: -14.25%;
}
.tide-keeper-2 .alphawood__furniture.animate__animated {
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
@media (max-width: 1600.98px) {
  .tide-keeper-2 .alphawood__furniture {
    right: -10.2%;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-2 .alphawood__furniture {
    font-size: 25px;
    right: -14%;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-2 .alphawood__furniture {
    font-size: 23.5px;
    right: -13.2%;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-2 .alphawood__furniture {
    font-size: 18px;
    right: -9.8%;
  }
}
@media (max-width: 675.98px) {
  .tide-keeper-2 .alphawood__furniture {
    right: -9.7%;
  }
}
.tide-keeper-2 .alphawood__title.animate__animated {
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
.tide-keeper-2 .alphawood__title:not(:last-child) {
  margin: 0 0 11px 0;
}
@media (max-width: 1600.98px) {
  .tide-keeper-2 .alphawood__title:not(:last-child) {
    margin: 0 0 9px 0;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-2 .alphawood__title:not(:last-child) {
    margin: 0 0 8px 0;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-2 .alphawood__title {
    font-size: 35px;
  }
  .tide-keeper-2 .alphawood__title:not(:last-child) {
    margin: 0 0 6.2px 0;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-2 .alphawood__title {
    font-size: 40px;
  }
  .tide-keeper-2 .alphawood__title:not(:last-child) {
    margin: 0 0 22px 0;
  }
}
@media (max-width: 750px) {
  .tide-keeper-2 .alphawood__title:not(:last-child) {
    margin: 0 0 34px 0;
  }
}
@media (max-width: 675.98px) {
  .tide-keeper-2 .alphawood__title {
    font-size: 37px;
  }
  .tide-keeper-2 .alphawood__title:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-2 .alphawood__title {
    font-size: 33px;
  }
  .tide-keeper-2 .alphawood__title:not(:last-child) {
    margin: 0 0 25px 0;
  }
}
@media (max-width: 380px) {
  .tide-keeper-2 .alphawood__title {
    font-size: 30px;
  }
}

@media (max-width: 1600.98px) {
  .tide-keeper-3 {
    height: 0;
    padding: 0 0 71% 0;
    position: relative;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-3 {
    height: 100vh;
    padding: 0;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-3 {
    height: calc(100vh - 55px);
  }
}
.tide-keeper-3 .alphawood__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 17.395% 0 6.56%;
}
@media (max-width: 1440.98px) {
  .tide-keeper-3 .alphawood__content {
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 0 0 0;
    height: 100%;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-3 .alphawood__content {
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 15.985% 0 6.09%;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-3 .alphawood__content {
    flex-direction: column;
    align-items: center;
    padding: 10.54vh 20px 0 20px;
  }
}
@media (max-width: 750px) {
  .tide-keeper-3 .alphawood__content {
    padding: 14.678vh 20px 0 20px;
  }
}
@media (max-width: 500px) {
  .tide-keeper-3 .alphawood__content {
    align-items: flex-start;
    justify-content: flex-end;
  }
}
.tide-keeper-3 .alphawood__content-inner {
  display: flex;
  padding: 5.5vh 0 7vh 0;
  position: relative;
}
@media (max-width: 1600.98px) {
  .tide-keeper-3 .alphawood__content-inner {
    padding: 6.57vh 0 8.05vh 0;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-3 .alphawood__content-inner {
    padding: 13.74vh 0 10.09vh 0;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-3 .alphawood__content-inner {
    padding: 9vh 0 7.55vh 0;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-3 .alphawood__content-inner {
    order: 2;
    padding: 9.76vh 0 5.56vh 0;
  }
}
@media (max-width: 750px) {
  .tide-keeper-3 .alphawood__content-inner {
    padding: 10.08vh 0 6.09vh 0;
  }
}
@media (max-width: 500px) {
  .tide-keeper-3 .alphawood__content-inner {
    flex-direction: column;
    align-items: flex-end;
    padding: 10.08vh 35px 6.09vh 0;
  }
}
@media (max-width: 380px) {
  .tide-keeper-3 .alphawood__content-inner {
    padding: 10.08vh 25px 6.09vh 0;
  }
}
.tide-keeper-3 .alphawood__image_1.ibg {
  background-position: center 65%;
}
@media (max-width: 1440.98px) {
  .tide-keeper-3 .alphawood__image_1 {
    display: none;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-3 .alphawood__image_1 {
    display: block;
  }
  .tide-keeper-3 .alphawood__image_1.ibg {
    background-position: center 100%;
  }
}
.tide-keeper-3 .alphawood__image_2 {
  display: none;
}
@media (max-width: 1440.98px) {
  .tide-keeper-3 .alphawood__image_2 {
    display: block;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-3 .alphawood__image_2 {
    display: none;
  }
}
@media (max-width: 750px) {
  .tide-keeper-3 .alphawood__image-mob_1 {
    display: none;
  }
}
.tide-keeper-3 .alphawood__image-mob_2 {
  display: none;
}
@media (max-width: 750px) {
  .tide-keeper-3 .alphawood__image-mob_2 {
    display: block;
  }
}
.tide-keeper-3 .alphawood__text.animate__animated {
  animation-duration: 1.5s;
  animation-delay: 1s;
}
@media (max-width: 1600.98px) {
  .tide-keeper-3 .alphawood__text {
    font-size: 19px;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-3 .alphawood__text {
    font-size: 13px;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-3 .alphawood__text {
    font-size: 19px;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-3 .alphawood__text {
    font-size: 17px;
  }
}
@media (max-width: 380px) {
  .tide-keeper-3 .alphawood__text {
    font-size: 15px;
  }
}
.tide-keeper-3 .alphawood__text_1 {
  max-width: 218.38px;
  text-align: right;
  margin: 0 63.11px 0 0;
}
@media (max-width: 1600.98px) {
  .tide-keeper-3 .alphawood__text_1 {
    max-width: 173px;
    margin: 0 50px 0 0;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-3 .alphawood__text_1 {
    order: 2;
    text-align: left;
    margin: 0 41px 0 52px;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-3 .alphawood__text_1 {
    order: 1;
    text-align: right;
    max-width: 116.47px;
    margin: 0 33.66px 0 0;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-3 .alphawood__text_1 {
    order: 2;
    text-align: left;
    max-width: 173px;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .tide-keeper-3 .alphawood__text_1 {
    text-align: right;
  }
}
@media (max-width: 380px) {
  .tide-keeper-3 .alphawood__text_1 {
    max-width: 137px;
  }
}
.tide-keeper-3 .alphawood__text_2 {
  max-width: 349.66px;
  margin: 4.5vh 0 0 0;
}
@media (max-width: 1600.98px) {
  .tide-keeper-3 .alphawood__text_2 {
    max-width: 277px;
    margin: 6.296vh 0 0 0;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-3 .alphawood__text_2 {
    order: 1;
    text-align: right;
    max-width: 230px;
    margin: 17.17vh 0 0 0;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-3 .alphawood__text_2 {
    order: 2;
    text-align: left;
    max-width: 186.49px;
    margin: 5.5vh 0 0 0;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-3 .alphawood__text_2 {
    order: 1;
    text-align: right;
    max-width: 230px;
    margin: 125px 52px 0 0;
  }
}
@media (max-width: 500px) {
  .tide-keeper-3 .alphawood__text_2 {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-3 .alphawood__text_2 {
    max-width: 195px;
  }
}
@media (max-width: 380px) {
  .tide-keeper-3 .alphawood__text_2 {
    max-width: 173px;
  }
}
.tide-keeper-3 .alphawood__title {
  margin: 16.875vh 0 0 0;
}
.tide-keeper-3 .alphawood__title.animate__animated {
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
@media (max-width: 1440.98px) {
  .tide-keeper-3 .alphawood__title {
    position: absolute;
    left: 40.3%;
    margin: 7.69vh 0 0 0;
    top: 0;
    font-size: 49px;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-3 .alphawood__title {
    position: relative;
    left: 0;
    font-size: 33px;
    margin: 20.42vh 0 0 0;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-3 .alphawood__title {
    order: 1;
    margin: 0;
    font-size: 49px;
  }
}
@media (max-width: 675.98px) {
  .tide-keeper-3 .alphawood__title {
    font-size: 43px;
  }
}
@media (max-width: 500px) {
  .tide-keeper-3 .alphawood__title {
    position: absolute;
    left: 25%;
    top: 14.678vh;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-3 .alphawood__title {
    font-size: 39px;
  }
}
@media (max-width: 380px) {
  .tide-keeper-3 .alphawood__title {
    font-size: 36px;
    top: 10vh;
  }
}
.tide-keeper-3 .alphawood__content-line-block {
  position: absolute;
  height: calc(100% - 32px);
  top: 0;
  left: 39.5%;
}
@media (max-width: 1600.98px) {
  .tide-keeper-3 .alphawood__content-line-block {
    height: calc(100% - 25px);
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-3 .alphawood__content-line-block {
    left: 51.5%;
    top: auto;
    bottom: 0;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@media (max-width: 1350px) {
  .tide-keeper-3 .alphawood__content-line-block {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    bottom: auto;
    top: 0;
    left: 39.5%;
    height: calc(100% - 17px);
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-3 .alphawood__content-line-block {
    left: 56%;
    top: auto;
    bottom: 0;
    height: calc(100% - 33px);
  }
}
@media (max-width: 500px) {
  .tide-keeper-3 .alphawood__content-line-block {
    left: auto;
    right: 0;
    height: calc(100% - 31px);
  }
}
.tide-keeper-3 .alphawood__content-line.animate__animated {
  animation-duration: 3.7s;
  animation-delay: 0.75s;
}
.tide-keeper-3 .alphawood__furniture {
  position: absolute;
  bottom: 0;
  left: 23.9%;
}
.tide-keeper-3 .alphawood__furniture.animate__animated {
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
@media (max-width: 1600.98px) {
  .tide-keeper-3 .alphawood__furniture {
    font-size: 35px;
    left: 24.2%;
  }
}
@media (max-width: 1440.98px) {
  .tide-keeper-3 .alphawood__furniture {
    bottom: auto;
    top: 0;
    left: 41.7%;
  }
}
@media (max-width: 1350px) {
  .tide-keeper-3 .alphawood__furniture {
    font-size: 23.5px;
    top: auto;
    bottom: 0;
    left: 24.2%;
  }
}
@media (max-width: 992.98px) {
  .tide-keeper-3 .alphawood__furniture {
    font-size: 35px;
    bottom: auto;
    top: 0;
    left: 45.4%;
  }
}
@media (max-width: 500px) {
  .tide-keeper-3 .alphawood__furniture {
    left: 81.3%;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-3 .alphawood__furniture {
    left: 78.7%;
  }
}
@media (max-width: 380px) {
  .tide-keeper-3 .alphawood__furniture {
    left: 75.3%;
  }
}

@media (max-width: 992.98px) {
  .tide-keeper-4 .alphawood__content {
    padding: 26vh 0 0 14.58%;
  }
}
@media (max-width: 750px) {
  .tide-keeper-4 .alphawood__content {
    padding: 39.45vh 0 0 15.5%;
  }
}
@media (max-width: 675.98px) {
  .tide-keeper-4 .alphawood__content {
    padding: 39.45vh 0 0 17%;
  }
}
@media (max-width: 380px) {
  .tide-keeper-4 .alphawood__content {
    padding: 33vh 0 0 17%;
  }
}
.tide-keeper-4 .alphawood__image.ibg {
  background-position: left bottom;
}
.tide-keeper-4 .alphawood__image-mob.ibg {
  background-position: left top;
}
@media (max-width: 380px) {
  .tide-keeper-4 .alphawood__image-mob.ibg {
    background-position: left bottom;
  }
}
@media (max-width: 750px) {
  .tide-keeper-4 .alphawood__image-mob_1 {
    display: none;
  }
}
.tide-keeper-4 .alphawood__image-mob_2 {
  display: none;
}
@media (max-width: 750px) {
  .tide-keeper-4 .alphawood__image-mob_2 {
    display: block;
  }
}
.tide-keeper-4 .alphawood__title {
  display: none;
}
.tide-keeper-4 .alphawood__title.animate__animated {
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
@media (max-width: 992.98px) {
  .tide-keeper-4 .alphawood__title {
    display: block;
    font-size: 80px;
  }
}
@media (max-width: 675.98px) {
  .tide-keeper-4 .alphawood__title {
    font-size: 70px;
  }
}
@media (max-width: 480.98px) {
  .tide-keeper-4 .alphawood__title {
    font-size: 50px;
  }
}
@media (max-width: 400px) {
  .tide-keeper-4 .alphawood__title {
    font-size: 42px;
  }
}